
{{!-- 

 --}}
<h4 class="above"> Click on an image to view it in fullscreen. In order to submit images, or edit images that you've already submitted, please log in!</h4>
{{#if artworks}}
<div class="artwork-container">
    {{#each artworks}}
    <a href="{{this.id}}">
        <img class="index-img" src="{{url}}" alt="Image not found." onerror=this.src="https://i.imgur.com/5vuDBOj.png">
        {{!-- <object data={{url}} class="index-img">
            <img alt="Image not found." src="https://i.imgur.com/5vuDBOj.png">
        </object> --}}
    </a> {{/each}}
</div>
{{/if}}
<script>
    var mangaImages = document.querySelectorAll('.index-img');
    function addReveal() {
        mangaImages[i].className += ' reveal';
    }
    var i = 0;
    function f () {
        console.log('images are disappearing now')
        addReveal();
        i++;
        if (i < mangaImages.length) {
        setTimeout(f, 100);
        }
    }
f();
</script>