{{#if artworks}}
<div class="artwork-container">
    {{#each artworks}}
    <h2>{{title}}</h2>
    <img src="{{url}}"> {{/each}}
</div>
{{/if}} {{!--
<h1>Title: {{artworks.title}} </h1>
<h1>Url: {{ artworks.url }} </h1> --}}