<h1>Submit a new page!</h1>
<form action="/" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>URL:</label>
    <input type="text" name="url">
    <input type="submit" value="Submit" />
</form>