body {
  /* font-family: "Raleway, sans-serif"; */
  background-color: black;
  color: #39aeec;
  font-size: 40px;
  text-align: center;
}
body * {
  margin: 10px;
}
nav {
  font-size: 32px;
}
.artwork-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}
.manga-title {
  font-size: 50px;
}
.index-img {
  max-height: 625px;
  width: auto;
  height: auto;
  margin: 20px;
}

input {
  border-radius: 16px;
  color: #39aeec;
}
input[type="submit"] {
  background-color: grey;
  padding: 10px;
}

.form-group {
  width: 18%;
}

.navbar-brand {
  font-size: 50px;
}
#navbarNav {
  display: flex;
  justify-content: space-around;
}
.nav-item {
  margin: 0 50px;
}

.form-group {
  margin: 0 0 0 770px;
}
