<h1>Submit a new page!</h1>
<form action="/artwork" method="post">
    <label>Title:</label>
    <input type="text">
    <label>URL:</label>
    <input type="text">
    <input type="submit" value="Submit" />
</form>